
.article-title {
  padding-top: 300px;
  padding-left: 20px;
  color: rgb(255, 146, 68);
  font-weight: bold;
}

.article-text {
  color: cornsilk;
  padding-left: 20px;
}

.category {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 100px;
  text-decoration: underline yellow;
}

.cat-name {
  padding-left: 20px;
  color: cornsilk;
}

.footer {
  background-color: rgb(39, 24, 14);
}

.a-primary {
  color: white;
  font-weight: bold;
}

.brand {
  font-weight: bolder;
}

.title {
  color: chocolate;
  text-decoration: underline chocolate;
}
