      <footer class="container-fluid footer">
          <ul class="row">
            <li class="nav-item col-12 col-md-4">
              <h3 class="text-white font-weight-bold">
                <a class="text-white" href="/">CinemaXX</a>
              </h3>
            </li>
            <li class="nav-item col-12 col-md-4">
              <a href="nav-item ">
               <span class="policy">Privacy Policy</span>  <span class="text-white">Terms & Conditions Copyright.</span>
              </a>
            </li>
            <li class="nav-item col-12 col-md-4">
              <div class="row d-flex justify-content-end">
                <div class="col-1">
                  <i class="fab fa-facebook social"></i>
                </div>
                <div class="col-1">
                  <i class="fab fa-twitter-square social"></i>
                </div>
                <div class="col-1">
                  <i class="fab fa-instagram-square social"></i>
                </div>
              </div>
            </li>
          </ul>
      </footer>